#MainTitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

#SubTitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

ol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.center {
    float: center;
    width: 30%;
    margin: 10px;
    border: 3px solid black;
    padding: 3px;
}

.left {
    float: left;
    width: 30%;
    margin: 10px;
    border: 3px solid black;
    padding: 3px;
}

.right {
    float: right;
    width: 30%;
    margin: 10px;
    border: 3px solid black;
    padding: 3px;
}

table {
    width: 75%;
    margin: 15px auto;
    text-align: center;
    border-collapse: collapse;
}

td {
    border: 3px solid black;
    padding: 10px;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}

th {
    border: 3px solid black;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.SpecialWord {
    color: green; 
    text-decoration: underline;
}

.images {
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
}

@media (max-width: 640px) {
    .images {
        align-items: center;
        flex-direction: column;
    }
    .images img {
        width: 85%;
    }

    table {
        text-align: center;
        border-collapse: collapse;
        width: 85%;
        margin: 10px auto;
    
    }

    #MainTitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 35px;
        text-align: center;
    }
    
    #SubTitle {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 20px;
    }
    p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    }

    ol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    }

    a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    }
}

